<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="container py-4">
		<div th:replace="layout/layout :: header"></div>
		<div class="p-5 mb-4 bg-light rounded-3 d-flex flex-column align-items-center">
			<h1 class="text-center mb-4">Participantes</h1>
			<form th:action="@{/addContestant}" method="post" th:object="${contestant}" class="row gy-2 gx-3 align-items-center justify-content-center">
				<div class="col-auto">
					<input th:field="*{name}" type="text" class="form-control" id="autoSizingInput" placeholder="Nombre">
				</div>
				<div class="col-auto">
					<div class="input-group">
						<div class="input-group-text">@</div>
						<input th:field="*{mail}" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Correo">
					</div>
				</div>
				<div class="col-auto text-center">
					<button th:text="${messageBtn}" type="submit" class="btn btn-primary my-1" id="add"></button>
					<a th:href="@{/generate}" class="btn btn-success my-1">Generar intercambio</a>
				</div>
			</form>
			<table class="table w-75 text-center">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Correo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contestant: ${contestants.list}">
						<td th:text="${contestant.name}"></td>
						<td th:text="${contestant.mail}"></td>
						<td>
							<a th:href="@{/removeContestant/} + ${contestant.id}" class="btn btn-danger">Eliminar</a>
							<a th:href="@{/generator/} + ${contestant.id}" class="btn btn-primary">Modificar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>
</html>