<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="container py-4">
		<div th:replace="layout/layout :: header"></div>
		<div class="p-5 mb-4 bg-light rounded-3" id="instructions">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Instrucciones</h1>
				<p class="col-md-8 fs-4 text-justify instr">
					Introduce el nombre y el correo electrónico de los participantes
					del intercambio. Cuando estés listo, presiona el botón 
					<span class="fw-bold">“Generar intercambio”</span>. A cada participante
					le será enviado el nombre y correo de la persona a quien le dara
					un regalo. No te preocupes, no pueden ocurrir confusiones.
				</p>
				<a th:href="@{/generator}" class="btn btn-primary btn-lg" type="button" id="start">Iniciar intercambio</a>
			</div>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
</body>
</html>